.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TemperatureContainer,
.PressureContainer,
.HumidityContainer {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-row label {
  margin-right: 10px;
}

.input-row input[type="number"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: yellow;
}

.input-row input[type="radio"] {
  margin-right: 10px;
}

.input-row select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
